<div class="container homecomponent">
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-1 box">
            
    
        </div>
        <div class="col-10 bodyleft box">
            <h3>Hello {{this.currentInfo.given_name}},</h3>
            <p>Your username is {{this.currentInfo.unique_name}}.<br>
            Your name is listed as {{this.currentInfo.name}}.</p>
            <p>Your current token: <br>
            {{sessionToken}}</p>

            <!-- <h1>Without Authentication</h1>
            <p>This is a stupid request because all this application does is authenticate the user, but as per request.  </p> -->
        </div>

        <div class="col-1 box">
            &nbsp;
    
        </div>
        
    </div>